/* ===========================
   XRAY
=========================== */

#holdboth {
  position: relative;
  width: 70vw;
  height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.positionadjust {
  position: absolute;
}

.textstyles {
  font-family: "Prompt", sans-serif;
  font-weight: 900;
  font-size: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: inherit;
  line-height: 130%;
}

.texttop {
  width: inherit;
  z-index: 10;
}

.textbottom {
  color: lightblue;
  z-index: 1;
}

.initclip {
  clip-path: circle(50px at -100px -100px);
  background-color: #091318;
}


/* ===========================
   SHINE
=========================== */

.shine {
  position: relative;
  display: block;

  margin: 50px;

  color: #1fc2f0;

  font-weight: 800;
  font-size: 50px;
  line-height: 110%;

  text-align: center;
}

.shine span {
  position: absolute;
  inset: 0;

  z-index: 100;

  /* KEEP YOUR COLOR */
  background-color: #091318;
  /* or use #091318 if that's what you want */

  opacity: 0;

  clip-path: circle(0px at 0 0);

  will-change: clip-path;

  pointer-events: none;
}


/* ===========================
   MASTER REVEAL
=========================== */

.mstrRevealText {
  position: relative;
  display: block;

  color: #1fc2f0;

  font-weight: 800;
  font-size: 50px;
  line-height: 110%;
}

.mstrRevealText span {
  position: absolute;
  inset: 0;

  z-index: 100;

  background-color: #030303;
  opacity: 0;

  clip-path: circle(0px at 0 0);

  will-change: clip-path;

  pointer-events: none;
}

/* ===========================
   SHINE2
=========================== */

.shine2 {
  position: relative;
  display: block;

  margin: 50px;

  color: #1fc2f0;

  font-weight: 800;
  font-size: 50px;
  line-height: 110%;

  text-align: center;
}

.shine2 span {
  position: absolute;
  inset: 0;

  z-index: 100;

  /* KEEP YOUR COLOR */
  background-color: #091318;
  /* or use #091318 if that's what you want */

  opacity: 0;

  clip-path: circle(0px at 0 0);

  will-change: clip-path;

  pointer-events: none;
}



/* ===========================
   CURSOR
=========================== */

.cursorHover {
  width: 300px;
  height: 300px;

  /* transition:
    width .3s ease,
    height .3s ease; */
}

.cursorMstrHover {
  width: 500px;
  height: 500px;

  transition:
    width .3s ease,
    height .3s ease;
}

.shine:hover~.cursor {
  width: 150px;
  height: 150px;

  transition:
    width .1s ease,
    height .1s ease;
}